@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';


.section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 1200px) {
        padding: 5px;
    }
}


.header {
    text-align: center;
    @extend .head-1;
    padding-bottom: 30px;
    color: $Misty-800;
}


.section__container {
    background-color: white;
    border-radius: 8px;
    width: 600px;
    min-height: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    overflow: hidden;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 30px;

    .active & {
        transform: scale(1);
        opacity: 1;
    }

    input {
        width: 100%;
            height: 44px;
            background: transparent;
            border: none;
            font-size: 14px;
            color: $Misty-900;
            outline: none;
            padding-top: 10px;
            &::placeholder {
                @extend .text;
                color: $Misty-700;
            }
    }

    label {
        @extend .button-16-medium;
    }
}

.close__button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: $Misty-50;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 10px 12px;

}

.buttonSection {
    display: contents;
    width: 100%;
}

.toggle__form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    @extend .text;
    color: $Misty-700;

    &:hover {
        color: $Blue-500;
    }
}