@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.section {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	@media (max-width: 1200px) {
			display: flex;
			flex-direction: column-reverse;

		}
}

.list {
	width: 30%;
	background-color: white;
	min-height: 260px;
	border-radius: 26px;
	will-change: transform;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: $Lift-300;
	cursor: pointer;


	@media (max-width: 1200px) {
		margin-top: 20px;
		width: 100%;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
		margin-left: 0;
		gap: 0;
		justify-content: normal;
		min-height: auto;
	}
}


.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 30px;

	@media (max-width: 1200px) {
			flex-direction: column;
			align-items: start;
			padding-top: 20px;
        }
}

.headIcon {
	width: 16px;
	height: 16px;
	background-color: $Misty-900;
	border-radius: 50%;
}

.headTitle {
	@extend .title-3;
	color: $Misty-900;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width: 1200px) {
		font-size: 15px;
		line-height: 18px;
	}
}

.description {
	@extend .title-4;
	color: $Misty-700;
	padding-left: 30px;
	padding-bottom: 60px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1200px) {
		padding-bottom: 20px;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		padding-top: 10px;
	}
}

.button {
	align-self: flex-start;
	padding-left: 30px;
	padding-bottom: 30px;

	@media (max-width: 1200px) {
		display: none;
	}
}

/* Секция столовая */

.dining {
	width: 70%;
	background-color: white;
	border-radius: 26px;
	margin-left: 15px;
	display: flex;
	flex-direction: row;
	gap: 100px;
	box-shadow: $Lift-300;


	@media (max-width: 1200px) {
			display: flex;
			flex-direction: column;
			width: 100%;
			box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
			margin-left: 0;
			gap: 0;
		}
	

}



.menuDiner {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	@media (max-width: 1200px) {
		    width: 100%;
            
        }
	
}

.detail {
	width: 70%;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	@media (max-width: 1200px) {
		width: 100%;
		padding-right: 0;
		padding-bottom: 20px;
		gap: 5px;
		
	}
}

/* Порталы */

.portal {
	background-color: white;
	border-radius: 26px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	box-shadow: $Lift-300;

	@media (max-width: 1200px) {
		padding: 20px;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
		max-height: none; 
	}
}



.portal_title {
	@extend .title-4;
	color: #053b74;
	padding-left: 30px;
	padding-top: 30px;

	@media (max-width: 1200px) {
		padding-left: 20px;
		padding-top: 20px;
	}
}

.portal_description {
	@extend .pagination-16-regular;
	color: $Misty-700;
	padding-left: 30px;

	@media (max-width: 1200px) {
		padding-left: 20px;
	}
}

.portal_item {
	display: grid;
	grid-template-columns: repeat(auto-fit, 282px); 
	grid-auto-flow: column;
	grid-auto-rows: 200px; 
	gap: 10px; 
	padding-top: 30px;
	cursor: pointer;
	justify-content: start; 

	@media (max-width: 1200px) {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
		grid-auto-rows: auto; 
		grid-auto-flow: row
	}
}

.portal_icon {
	width: 50px;
	height: 50px;
	background-color: #e1e8f0;
	border-radius: 12px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.item_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $Misty-50;
	border-radius: 16px;
	width: 282px;
	height: 200px; 

	@media (max-width: 1200px) {
		width: 100%; 
		height: auto; 
	}

	&:hover {
		background-color: $Blue-100;
	}

	&:focus {
		border: 3px solid $Blue-300;
	}
}

.disabled_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: none;
	border-radius: 16px;
	border: 1px dashed $Misty-300;
	width: 282px; 
	height: 200px; 

	@media (max-width: 1200px) {
		width: 100%; 
		height: auto; 
	}
}
