@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.section {
    
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: white;
    border-radius: 26px;
    justify-content: space-between;
    min-height: 160px;
    cursor: pointer;
    box-shadow: $Lift-300;

    &:hover {
        background-color: $Blue-100;
    }


    
}

.section_disabled {
    display: flex;
    flex-direction: row;
     max-width: 100%;
    background-color: none;
    border-radius: 26px;
    justify-content: space-between;
    min-height: 160px;
    border: 1px dashed $Misty-500;
}

.header {
    @extend .title-3;
    padding-top: 30px;
    padding-left: 30px;
    color: $Misty-900;
}

.icon {
   display: flex; 
    align-items: center;
    padding-right: 30px ;
}
