/* [project]/src/app/bus/bus.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.bus-module-scss-module__HF5Qdq__title-1, .bus-module-scss-module__HF5Qdq__bus__title h1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.bus-module-scss-module__HF5Qdq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.bus-module-scss-module__HF5Qdq__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.bus-module-scss-module__HF5Qdq__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bus-module-scss-module__HF5Qdq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.bus-module-scss-module__HF5Qdq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.bus-module-scss-module__HF5Qdq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.bus-module-scss-module__HF5Qdq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.bus-module-scss-module__HF5Qdq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.bus-module-scss-module__HF5Qdq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.bus-module-scss-module__HF5Qdq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}

@media (width <= 1200px) {
  .bus-module-scss-module__HF5Qdq__content {
    padding: 5px;
  }
}

.bus-module-scss-module__HF5Qdq__bus__header {
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .bus-module-scss-module__HF5Qdq__bus__header {
    padding: 10px;
  }
}

.bus-module-scss-module__HF5Qdq__bus__title {
  display: flex;
  align-items: baseline;
}

.bus-module-scss-module__HF5Qdq__bus__title h1 {
  color: #041221;
}

/*# sourceMappingURL=src_app_bus_bus_module_scss_module_b52d8e88.css.map*/