/* [project]/src/components/UI/BlockPhone/BlockPhone.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.BlockPhone-module-scss-module__2d0A5q__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.BlockPhone-module-scss-module__2d0A5q__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.BlockPhone-module-scss-module__2d0A5q__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPhone-module-scss-module__2d0A5q__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPhone-module-scss-module__2d0A5q__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPhone-module-scss-module__2d0A5q__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.BlockPhone-module-scss-module__2d0A5q__head-1, .BlockPhone-module-scss-module__2d0A5q__header {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.BlockPhone-module-scss-module__2d0A5q__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.BlockPhone-module-scss-module__2d0A5q__text-2, .BlockPhone-module-scss-module__2d0A5q__section li {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.BlockPhone-module-scss-module__2d0A5q__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.BlockPhone-module-scss-module__2d0A5q__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.BlockPhone-module-scss-module__2d0A5q__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.BlockPhone-module-scss-module__2d0A5q__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockPhone-module-scss-module__2d0A5q__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockPhone-module-scss-module__2d0A5q__button-16-medium, .BlockPhone-module-scss-module__2d0A5q__section span {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockPhone-module-scss-module__2d0A5q__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPhone-module-scss-module__2d0A5q__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockPhone-module-scss-module__2d0A5q__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.BlockPhone-module-scss-module__2d0A5q__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.BlockPhone-module-scss-module__2d0A5q__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPhone-module-scss-module__2d0A5q__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPhone-module-scss-module__2d0A5q__section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0 2px 10px #91affc40;
}

.BlockPhone-module-scss-module__2d0A5q__section span {
  padding-top: 0;
  color: #385167;
}

.BlockPhone-module-scss-module__2d0A5q__section ul {
  padding-left: 30px;
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.BlockPhone-module-scss-module__2d0A5q__section li {
  color: #152738;
  padding-top: 10px;
}

.BlockPhone-module-scss-module__2d0A5q__header {
  padding-top: 30px;
  padding-left: 30px;
  color: #152738;
}

.BlockPhone-module-scss-module__2d0A5q__icon {
  position: absolute;
  top: 0;
  right: 0;
}

/*# sourceMappingURL=src_components_UI_BlockPhone_BlockPhone_module_scss_module_b52d8e88.css.map*/