/* [project]/src/components/UI/MobileBlock/MobileBlock.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.MobileBlock-module-scss-module__JVZPcG__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.MobileBlock-module-scss-module__JVZPcG__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.MobileBlock-module-scss-module__JVZPcG__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.MobileBlock-module-scss-module__JVZPcG__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.MobileBlock-module-scss-module__JVZPcG__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.MobileBlock-module-scss-module__JVZPcG__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.MobileBlock-module-scss-module__JVZPcG__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.MobileBlock-module-scss-module__JVZPcG__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.MobileBlock-module-scss-module__JVZPcG__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.MobileBlock-module-scss-module__JVZPcG__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.MobileBlock-module-scss-module__JVZPcG__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.MobileBlock-module-scss-module__JVZPcG__button-14-medium, .MobileBlock-module-scss-module__JVZPcG__header {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.MobileBlock-module-scss-module__JVZPcG__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.MobileBlock-module-scss-module__JVZPcG__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.MobileBlock-module-scss-module__JVZPcG__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.MobileBlock-module-scss-module__JVZPcG__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.MobileBlock-module-scss-module__JVZPcG__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.MobileBlock-module-scss-module__JVZPcG__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.MobileBlock-module-scss-module__JVZPcG__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.MobileBlock-module-scss-module__JVZPcG__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.MobileBlock-module-scss-module__JVZPcG__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.MobileBlock-module-scss-module__JVZPcG__section {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 65px;
  padding: 0 5px;
  background-color: #ecf0f6;
  border-radius: 16px;
  justify-content: space-between;
  max-height: 160px;
  cursor: pointer;
  align-items: center;
}

.MobileBlock-module-scss-module__JVZPcG__section:hover {
  background-color: #e1f2ff;
}

.MobileBlock-module-scss-module__JVZPcG__section_disabled {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: none;
  border-radius: 26px;
  justify-content: space-between;
  min-height: 160px;
  border: 1px dashed #7e95a8;
}

.MobileBlock-module-scss-module__JVZPcG__header {
  color: #053b74;
  padding-left: 10px;
}

.MobileBlock-module-scss-module__JVZPcG__icon {
  width: 45px;
  height: 45px;
  border-radius: 25%;
  background-color: #e1e8f0;
}

/*# sourceMappingURL=src_components_UI_MobileBlock_MobileBlock_module_scss_module_b52d8e88.css.map*/