/* [project]/src/components/UI/Input/SearchInput.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.SearchInput-module-scss-module__1ex0RW__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.SearchInput-module-scss-module__1ex0RW__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.SearchInput-module-scss-module__1ex0RW__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.SearchInput-module-scss-module__1ex0RW__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.SearchInput-module-scss-module__1ex0RW__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.SearchInput-module-scss-module__1ex0RW__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.SearchInput-module-scss-module__1ex0RW__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.SearchInput-module-scss-module__1ex0RW__text, .SearchInput-module-scss-module__1ex0RW__searchInput::placeholder, .SearchInput-module-scss-module__1ex0RW__searchContainer {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.SearchInput-module-scss-module__1ex0RW__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.SearchInput-module-scss-module__1ex0RW__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.SearchInput-module-scss-module__1ex0RW__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.SearchInput-module-scss-module__1ex0RW__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.SearchInput-module-scss-module__1ex0RW__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.SearchInput-module-scss-module__1ex0RW__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.SearchInput-module-scss-module__1ex0RW__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.SearchInput-module-scss-module__1ex0RW__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.SearchInput-module-scss-module__1ex0RW__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.SearchInput-module-scss-module__1ex0RW__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.SearchInput-module-scss-module__1ex0RW__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.SearchInput-module-scss-module__1ex0RW__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.SearchInput-module-scss-module__1ex0RW__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.SearchInput-module-scss-module__1ex0RW__searchContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50%;
  background-color: #fff;
  border-radius: 16px;
  padding-left: 16px;
}

.SearchInput-module-scss-module__1ex0RW__searchInput {
  width: 100%;
  height: 44px;
  background: none;
  border: none;
  font-size: 14px;
  color: #152738;
  outline: none;
}

.SearchInput-module-scss-module__1ex0RW__searchInput::placeholder {
  color: #385167;
}

/*# sourceMappingURL=src_components_UI_Input_SearchInput_module_scss_module_b52d8e88.css.map*/