/* [project]/src/components/UI/ButtonBack/ButtonBack.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.ButtonBack-module-scss-module__urkqYa__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.ButtonBack-module-scss-module__urkqYa__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.ButtonBack-module-scss-module__urkqYa__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.ButtonBack-module-scss-module__urkqYa__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.ButtonBack-module-scss-module__urkqYa__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.ButtonBack-module-scss-module__urkqYa__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__button-16-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__button {
  padding: 11px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #e1e8f0;
  color: #152738;
  transition: all .3s;
}

.ButtonBack-module-scss-module__urkqYa__button:hover {
  background-color: #d6e0ea;
  color: #152738;
}

.ButtonBack-module-scss-module__urkqYa__button:focus {
  outline: none;
  border: 2px solid #bfdff8;
  color: #152738;
  background-color: #e1e8f0;
}

.ButtonBack-module-scss-module__urkqYa__button:disabled {
  background-color: #ecf0f6;
  color: #c5d2de;
  cursor: not-allowed;
}


/* [project]/src/app/bus/bus.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.bus-module-scss-module__HF5Qdq__title-1, .bus-module-scss-module__HF5Qdq__bus__title h1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.bus-module-scss-module__HF5Qdq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.bus-module-scss-module__HF5Qdq__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.bus-module-scss-module__HF5Qdq__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bus-module-scss-module__HF5Qdq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.bus-module-scss-module__HF5Qdq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.bus-module-scss-module__HF5Qdq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.bus-module-scss-module__HF5Qdq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.bus-module-scss-module__HF5Qdq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.bus-module-scss-module__HF5Qdq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.bus-module-scss-module__HF5Qdq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.bus-module-scss-module__HF5Qdq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.bus-module-scss-module__HF5Qdq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.bus-module-scss-module__HF5Qdq__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}

@media (width <= 1200px) {
  .bus-module-scss-module__HF5Qdq__content {
    padding: 5px;
  }
}

.bus-module-scss-module__HF5Qdq__bus__header {
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .bus-module-scss-module__HF5Qdq__bus__header {
    padding: 10px;
  }
}

.bus-module-scss-module__HF5Qdq__bus__title {
  display: flex;
  align-items: baseline;
}

.bus-module-scss-module__HF5Qdq__bus__title h1 {
  color: #041221;
}


/* [project]/src/components/UI/SelectNavigate/SelectNavigate.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.SelectNavigate-module-scss-module__yaLfZa__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.SelectNavigate-module-scss-module__yaLfZa__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.SelectNavigate-module-scss-module__yaLfZa__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.SelectNavigate-module-scss-module__yaLfZa__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.SelectNavigate-module-scss-module__yaLfZa__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.SelectNavigate-module-scss-module__yaLfZa__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.SelectNavigate-module-scss-module__yaLfZa__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.SelectNavigate-module-scss-module__yaLfZa__text, .SelectNavigate-module-scss-module__yaLfZa__placeholder, .SelectNavigate-module-scss-module__yaLfZa__selectedValue {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.SelectNavigate-module-scss-module__yaLfZa__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.SelectNavigate-module-scss-module__yaLfZa__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.SelectNavigate-module-scss-module__yaLfZa__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.SelectNavigate-module-scss-module__yaLfZa__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.SelectNavigate-module-scss-module__yaLfZa__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.SelectNavigate-module-scss-module__yaLfZa__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.SelectNavigate-module-scss-module__yaLfZa__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.SelectNavigate-module-scss-module__yaLfZa__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.SelectNavigate-module-scss-module__yaLfZa__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.SelectNavigate-module-scss-module__yaLfZa__pagination-16-regular, .SelectNavigate-module-scss-module__yaLfZa__routePoint {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.SelectNavigate-module-scss-module__yaLfZa__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.SelectNavigate-module-scss-module__yaLfZa__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.SelectNavigate-module-scss-module__yaLfZa__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.SelectNavigate-module-scss-module__yaLfZa__selectContainer {
  position: relative;
  width: 100%;
}

.SelectNavigate-module-scss-module__yaLfZa__select {
  background-color: #ecf0f6;
  border-radius: 16px;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s;
}

.SelectNavigate-module-scss-module__yaLfZa__select:hover {
  background-color: #d6e0ea;
}

.SelectNavigate-module-scss-module__yaLfZa__select.SelectNavigate-module-scss-module__yaLfZa__open {
  border-radius: 16px 16px 0 0;
  background-color: #d6e0ea;
}

.SelectNavigate-module-scss-module__yaLfZa__selectedValue {
  flex: 1;
}

.SelectNavigate-module-scss-module__yaLfZa__placeholder {
  color: #49667e;
}

.SelectNavigate-module-scss-module__yaLfZa__routeDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
}

.SelectNavigate-module-scss-module__yaLfZa__routePoint {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #152738;
}

.SelectNavigate-module-scss-module__yaLfZa__routePoint:first-child {
  color: #152738;
}

.SelectNavigate-module-scss-module__yaLfZa__circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00a764;
  flex-shrink: 0;
}

.SelectNavigate-module-scss-module__yaLfZa__routeArrow {
  flex-shrink: 0;
}

.SelectNavigate-module-scss-module__yaLfZa__arrow {
  transition: transform .3s;
}

.SelectNavigate-module-scss-module__yaLfZa__arrow.SelectNavigate-module-scss-module__yaLfZa__rotated {
  transform: rotate(180deg);
}

.SelectNavigate-module-scss-module__yaLfZa__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #c5d2de;
  box-shadow: 0 4px 20px #0000001a;
  padding: 5px;
}

.SelectNavigate-module-scss-module__yaLfZa__dropdown::-webkit-scrollbar {
  width: 4px;
}

.SelectNavigate-module-scss-module__yaLfZa__dropdown::-webkit-scrollbar-track {
  background: none;
}

.SelectNavigate-module-scss-module__yaLfZa__dropdown::-webkit-scrollbar-thumb {
  background: #b3c3d2;
  border-radius: 2px;
}

.SelectNavigate-module-scss-module__yaLfZa__option {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  border-top: 1px solid #c5d2de;
  background-color: #fff;
  border-radius: 16px;
}

.SelectNavigate-module-scss-module__yaLfZa__option:first-child {
  border-top: none;
}

.SelectNavigate-module-scss-module__yaLfZa__option:hover {
  background-color: #ecf0f6;
}

.SelectNavigate-module-scss-module__yaLfZa__option.SelectNavigate-module-scss-module__yaLfZa__selected {
  background-color: #e1f2ff;
}

.SelectNavigate-module-scss-module__yaLfZa__option.SelectNavigate-module-scss-module__yaLfZa__selected .SelectNavigate-module-scss-module__yaLfZa__routePoint:first-child {
  color: #152738;
}


/* [project]/src/components/UI/YandexMap/Map.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.Map-module-scss-module__4AJn8a__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.Map-module-scss-module__4AJn8a__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.Map-module-scss-module__4AJn8a__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.Map-module-scss-module__4AJn8a__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Map-module-scss-module__4AJn8a__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.Map-module-scss-module__4AJn8a__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.Map-module-scss-module__4AJn8a__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.Map-module-scss-module__4AJn8a__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.Map-module-scss-module__4AJn8a__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Map-module-scss-module__4AJn8a__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.Map-module-scss-module__4AJn8a__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__map__section {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: 570px;
  height: 540px;
}

@media (width <= 1200px) {
  .Map-module-scss-module__4AJn8a__map__section {
    max-width: 100%;
    max-height: 336px;
  }
}

.Map-module-scss-module__4AJn8a__map__content {
  opacity: 0;
  animation: .5s ease-in-out forwards Map-module-scss-module__4AJn8a__fadeIn;
}

@keyframes Map-module-scss-module__4AJn8a__fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* [project]/src/components/UI/Loader/Loader.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.Loader-module-scss-module__ae0pTq__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.Loader-module-scss-module__ae0pTq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.Loader-module-scss-module__ae0pTq__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Loader-module-scss-module__ae0pTq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.Loader-module-scss-module__ae0pTq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Loader-module-scss-module__ae0pTq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.Loader-module-scss-module__ae0pTq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.Loader-module-scss-module__ae0pTq__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Loader-module-scss-module__ae0pTq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.Loader-module-scss-module__ae0pTq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.Loader-module-scss-module__ae0pTq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.Loader-module-scss-module__ae0pTq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.Loader-module-scss-module__ae0pTq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Loader-module-scss-module__ae0pTq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.Loader-module-scss-module__ae0pTq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.Loader-module-scss-module__ae0pTq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Loader-module-scss-module__ae0pTq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Loader-module-scss-module__ae0pTq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Loader-module-scss-module__ae0pTq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.Loader-module-scss-module__ae0pTq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.Loader-module-scss-module__ae0pTq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Loader-module-scss-module__ae0pTq__loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
  gap: 16px;
  box-shadow: 0 4px 20px #0000001a;
  animation: .5s ease-in-out forwards Loader-module-scss-module__ae0pTq__fadeOut;
  animation-play-state: paused;
}

.Loader-module-scss-module__ae0pTq__loader {
  display: flex;
  gap: 8px;
}

.Loader-module-scss-module__ae0pTq__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #196bdf;
  animation: .5s ease-in-out infinite Loader-module-scss-module__ae0pTq__bounce;
}

.Loader-module-scss-module__ae0pTq__circle:nth-child(2) {
  animation-delay: .1s;
}

.Loader-module-scss-module__ae0pTq__circle:nth-child(3) {
  animation-delay: .2s;
}

.Loader-module-scss-module__ae0pTq__text {
  color: #152738;
}

@keyframes Loader-module-scss-module__ae0pTq__bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes Loader-module-scss-module__ae0pTq__fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


/* [project]/src/components/Buses/buses.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.buses-module-scss-module__t28HVG__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.buses-module-scss-module__t28HVG__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.buses-module-scss-module__t28HVG__title-3, .buses-module-scss-module__t28HVG__title, .buses-module-scss-module__t28HVG__arrival_time, .buses-module-scss-module__t28HVG__stops > div:first-child, .buses-module-scss-module__t28HVG__navigate > div:first-child {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.buses-module-scss-module__t28HVG__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.buses-module-scss-module__t28HVG__title-5, .buses-module-scss-module__t28HVG__no_route {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.buses-module-scss-module__t28HVG__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.buses-module-scss-module__t28HVG__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.buses-module-scss-module__t28HVG__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.buses-module-scss-module__t28HVG__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.buses-module-scss-module__t28HVG__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.buses-module-scss-module__t28HVG__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.buses-module-scss-module__t28HVG__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.buses-module-scss-module__t28HVG__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.buses-module-scss-module__t28HVG__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.buses-module-scss-module__t28HVG__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.buses-module-scss-module__t28HVG__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.buses-module-scss-module__t28HVG__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.buses-module-scss-module__t28HVG__pagination-16-regular, .buses-module-scss-module__t28HVG__stop_name {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.buses-module-scss-module__t28HVG__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.buses-module-scss-module__t28HVG__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.buses-module-scss-module__t28HVG__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.buses-module-scss-module__t28HVG__section__map {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 26px;
  box-shadow: 0 2px 10px #91affc40;
}

@media (width <= 1200px) {
  .buses-module-scss-module__t28HVG__section__map {
    box-shadow: 0 0 10px 5px #0000001a;
    padding: 20px;
  }
}

.buses-module-scss-module__t28HVG__disable__transform:hover {
  transform: none;
}

.buses-module-scss-module__t28HVG__section__bus {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media (width <= 1200px) {
  .buses-module-scss-module__t28HVG__section__bus {
    flex-direction: column;
  }
}

.buses-module-scss-module__t28HVG__select__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 320px;
}

.buses-module-scss-module__t28HVG__navigate > div:first-child {
  color: #152738;
  margin-bottom: 16px;
}

.buses-module-scss-module__t28HVG__stops > div:first-child {
  color: #152738;
  margin-bottom: 16px;
}

.buses-module-scss-module__t28HVG__stops_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ecf0f6;
  border-radius: 16px;
  min-height: 370px;
  padding: 10px;
}

.buses-module-scss-module__t28HVG__stop_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 30px;
  cursor: pointer;
  transition: all .3s;
  border-width: 75px;
  border-bottom: .7px solid #c5d2de;
}

.buses-module-scss-module__t28HVG__stop_item:hover {
  background-color: #d6e0ea;
  border-radius: 16px;
}

.buses-module-scss-module__t28HVG__stop_item.buses-module-scss-module__t28HVG__selected {
  background-color: #e1f2ff;
  color: #196bdf;
  border-radius: 16px;
}

.buses-module-scss-module__t28HVG__stop_item.buses-module-scss-module__t28HVG__selected .buses-module-scss-module__t28HVG__arrival_time {
  color: #196bdf;
}

.buses-module-scss-module__t28HVG__stop_info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buses-module-scss-module__t28HVG__stop_number {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00a764;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #49667e;
  flex-shrink: 0;
}

.buses-module-scss-module__t28HVG__selected .buses-module-scss-module__t28HVG__stop_number {
  background-color: #196bdf;
  color: #fff;
}

.buses-module-scss-module__t28HVG__stop_name {
  color: #152738;
}

.buses-module-scss-module__t28HVG__arrival_time {
  color: #152738;
}

.buses-module-scss-module__t28HVG__no_route {
  color: #152738;
  text-align: center;
  padding: 24px;
}

.buses-module-scss-module__t28HVG__title {
  padding-bottom: 30px;
  color: #152738;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (width <= 1200px) {
  .buses-module-scss-module__t28HVG__title {
    font-size: 15px;
    line-height: 18px;
  }
}

.buses-module-scss-module__t28HVG__title__icon {
  width: 16px;
  height: 16px;
  background-color: #152738;
  border-radius: 50%;
}

.buses-module-scss-module__t28HVG__disabled__title {
  display: none;
}


/*# sourceMappingURL=src_0ec9b72c._.css.map*/
