/* [project]/src/components/InfoBlock/infoBlock.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.infoBlock-module-scss-module__nQIaja__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.infoBlock-module-scss-module__nQIaja__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.infoBlock-module-scss-module__nQIaja__title-3, .infoBlock-module-scss-module__nQIaja__headTitle {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.infoBlock-module-scss-module__nQIaja__title-4, .infoBlock-module-scss-module__nQIaja__portal_title, .infoBlock-module-scss-module__nQIaja__description {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.infoBlock-module-scss-module__nQIaja__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.infoBlock-module-scss-module__nQIaja__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.infoBlock-module-scss-module__nQIaja__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.infoBlock-module-scss-module__nQIaja__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.infoBlock-module-scss-module__nQIaja__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.infoBlock-module-scss-module__nQIaja__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.infoBlock-module-scss-module__nQIaja__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.infoBlock-module-scss-module__nQIaja__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.infoBlock-module-scss-module__nQIaja__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.infoBlock-module-scss-module__nQIaja__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.infoBlock-module-scss-module__nQIaja__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.infoBlock-module-scss-module__nQIaja__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.infoBlock-module-scss-module__nQIaja__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.infoBlock-module-scss-module__nQIaja__pagination-16-regular, .infoBlock-module-scss-module__nQIaja__portal_description {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.infoBlock-module-scss-module__nQIaja__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.infoBlock-module-scss-module__nQIaja__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.infoBlock-module-scss-module__nQIaja__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.infoBlock-module-scss-module__nQIaja__section {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__section {
    display: flex;
    flex-direction: column-reverse;
  }
}

.infoBlock-module-scss-module__nQIaja__list {
  width: 30%;
  background-color: #fff;
  min-height: 260px;
  border-radius: 26px;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px #91affc40;
  cursor: pointer;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__list {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 10px 5px #0000001a;
    margin-left: 0;
    gap: 0;
    justify-content: normal;
    min-height: auto;
  }
}

.infoBlock-module-scss-module__nQIaja__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__head {
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
  }
}

.infoBlock-module-scss-module__nQIaja__headIcon {
  width: 16px;
  height: 16px;
  background-color: #152738;
  border-radius: 50%;
}

.infoBlock-module-scss-module__nQIaja__headTitle {
  color: #152738;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__headTitle {
    font-size: 15px;
    line-height: 18px;
  }
}

.infoBlock-module-scss-module__nQIaja__description {
  color: #385167;
  padding-left: 30px;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__description {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 10px;
  }
}

.infoBlock-module-scss-module__nQIaja__button {
  align-self: flex-start;
  padding-left: 30px;
  padding-bottom: 30px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__button {
    display: none;
  }
}

.infoBlock-module-scss-module__nQIaja__dining {
  width: 70%;
  background-color: #fff;
  border-radius: 26px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  box-shadow: 0 2px 10px #91affc40;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__dining {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 10px 5px #0000001a;
    margin-left: 0;
    gap: 0;
  }
}

.infoBlock-module-scss-module__nQIaja__menuDiner {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__menuDiner {
    width: 100%;
  }
}

.infoBlock-module-scss-module__nQIaja__detail {
  width: 70%;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__detail {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
    gap: 5px;
  }
}

.infoBlock-module-scss-module__nQIaja__portal {
  background-color: #fff;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 2px 10px #91affc40;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__portal {
    padding: 20px;
    box-shadow: 0 0 10px 5px #0000001a;
    max-height: none;
  }
}

.infoBlock-module-scss-module__nQIaja__portal_title {
  color: #053b74;
  padding-left: 30px;
  padding-top: 30px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__portal_title {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.infoBlock-module-scss-module__nQIaja__portal_description {
  color: #385167;
  padding-left: 30px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__portal_description {
    padding-left: 20px;
  }
}

.infoBlock-module-scss-module__nQIaja__portal_item {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: column;
  grid-auto-rows: 200px;
  gap: 10px;
  padding-top: 30px;
  cursor: pointer;
  justify-content: start;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__portal_item {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }
}

.infoBlock-module-scss-module__nQIaja__portal_icon {
  width: 50px;
  height: 50px;
  background-color: #e1e8f0;
  border-radius: 12px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.infoBlock-module-scss-module__nQIaja__item_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ecf0f6;
  border-radius: 16px;
  width: 282px;
  height: 200px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__item_block {
    width: 100%;
    height: auto;
  }
}

.infoBlock-module-scss-module__nQIaja__item_block:hover {
  background-color: #e1f2ff;
}

.infoBlock-module-scss-module__nQIaja__item_block:focus {
  border: 3px solid #88b8f0;
}

.infoBlock-module-scss-module__nQIaja__disabled_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  border-radius: 16px;
  border: 1px dashed #b3c3d2;
  width: 282px;
  height: 200px;
}

@media (width <= 1200px) {
  .infoBlock-module-scss-module__nQIaja__disabled_block {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=src_components_InfoBlock_infoBlock_module_scss_module_b52d8e88.css.map*/