/* [project]/src/components/UI/BlockSpravka/BlockSpravka.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.BlockSpravka-module-scss-module__SSw7nq__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.BlockSpravka-module-scss-module__SSw7nq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.BlockSpravka-module-scss-module__SSw7nq__title-3, .BlockSpravka-module-scss-module__SSw7nq__header .BlockSpravka-module-scss-module__SSw7nq__title {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockSpravka-module-scss-module__SSw7nq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.BlockSpravka-module-scss-module__SSw7nq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockSpravka-module-scss-module__SSw7nq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.BlockSpravka-module-scss-module__SSw7nq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.BlockSpravka-module-scss-module__SSw7nq__text, .BlockSpravka-module-scss-module__SSw7nq__option, .BlockSpravka-module-scss-module__SSw7nq__select {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.BlockSpravka-module-scss-module__SSw7nq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.BlockSpravka-module-scss-module__SSw7nq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.BlockSpravka-module-scss-module__SSw7nq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.BlockSpravka-module-scss-module__SSw7nq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.BlockSpravka-module-scss-module__SSw7nq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockSpravka-module-scss-module__SSw7nq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockSpravka-module-scss-module__SSw7nq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockSpravka-module-scss-module__SSw7nq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockSpravka-module-scss-module__SSw7nq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockSpravka-module-scss-module__SSw7nq__pagination-16-regular, .BlockSpravka-module-scss-module__SSw7nq__status_value, .BlockSpravka-module-scss-module__SSw7nq__status_title, .BlockSpravka-module-scss-module__SSw7nq__period_title {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.BlockSpravka-module-scss-module__SSw7nq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.BlockSpravka-module-scss-module__SSw7nq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.BlockSpravka-module-scss-module__SSw7nq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockSpravka-module-scss-module__SSw7nq__section {
  background-color: #fff;
  border-radius: 26px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  min-height: 365px;
  transition: all .3s;
  box-shadow: 0 2px 10px #91affc40;
}

@media (width <= 1200px) {
  .BlockSpravka-module-scss-module__SSw7nq__section {
    padding: 16px;
    gap: 16px;
    width: 100%;
  }
}

.BlockSpravka-module-scss-module__SSw7nq__header {
  min-height: 25%;
}

.BlockSpravka-module-scss-module__SSw7nq__header .BlockSpravka-module-scss-module__SSw7nq__title {
  color: #152738;
  margin: 0;
  min-height: 25%;
}

.BlockSpravka-module-scss-module__SSw7nq__period {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  min-height: 25%;
}

.BlockSpravka-module-scss-module__SSw7nq__period_title {
  color: #152738;
}

.BlockSpravka-module-scss-module__SSw7nq__selectContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  z-index: 100;
}

.BlockSpravka-module-scss-module__SSw7nq__select {
  max-width: 100%;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #b3c3d2;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s;
}

.BlockSpravka-module-scss-module__SSw7nq__select:hover {
  border-color: #7e95a8;
  background-color: #ecf0f6;
}

.BlockSpravka-module-scss-module__SSw7nq__select.BlockSpravka-module-scss-module__SSw7nq__open {
  border-color: #7e95a8;
  border-radius: 16px;
}

.BlockSpravka-module-scss-module__SSw7nq__dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #7e95a8;
  border-radius: 16px;
  box-shadow: 0 4px 12px #0000001a;
  z-index: 101;
  max-height: 200px;
  overflow-y: auto;
}

.BlockSpravka-module-scss-module__SSw7nq__dropdown::-webkit-scrollbar {
  width: 4px;
}

.BlockSpravka-module-scss-module__SSw7nq__dropdown::-webkit-scrollbar-track {
  background: none;
}

.BlockSpravka-module-scss-module__SSw7nq__dropdown::-webkit-scrollbar-thumb {
  background: #b3c3d2;
  border-radius: 2px;
}

.BlockSpravka-module-scss-module__SSw7nq__option {
  padding: 12px 20px;
  cursor: pointer;
  color: #152738;
  transition: all .2s;
}

.BlockSpravka-module-scss-module__SSw7nq__option:hover {
  background-color: #ecf0f6;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  margin-top: 2px;
}

.BlockSpravka-module-scss-module__SSw7nq__option.BlockSpravka-module-scss-module__SSw7nq__selected {
  background-color: #ecf0f6;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  margin-top: 5px;
}

.BlockSpravka-module-scss-module__SSw7nq__option:last-child {
  border-radius: 0 0 16px 16px;
}

.BlockSpravka-module-scss-module__SSw7nq__arrow {
  width: 16px;
  height: 16px;
  transition: transform .3s;
}

.BlockSpravka-module-scss-module__SSw7nq__arrow.BlockSpravka-module-scss-module__SSw7nq__rotated {
  transform: rotate(180deg);
}

.BlockSpravka-module-scss-module__SSw7nq__status {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 25%;
}

.BlockSpravka-module-scss-module__SSw7nq__status_title {
  color: #152738;
  padding-bottom: 5px;
}

.BlockSpravka-module-scss-module__SSw7nq__status_bar_container {
  width: 100%;
  height: 4px;
  background-color: #d6e0ea;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.BlockSpravka-module-scss-module__SSw7nq__status_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width .5s;
  border-radius: 2px;
}

.BlockSpravka-module-scss-module__SSw7nq__status_bar.BlockSpravka-module-scss-module__SSw7nq__status_sent {
  width: 33.33%;
  background-color: #5092e7;
}

.BlockSpravka-module-scss-module__SSw7nq__status_bar.BlockSpravka-module-scss-module__SSw7nq__status_inProgress {
  width: 66.66%;
  background-color: #5092e7;
}

.BlockSpravka-module-scss-module__SSw7nq__status_bar.BlockSpravka-module-scss-module__SSw7nq__status_ready {
  width: 100%;
  background-color: #0fb400;
}

.BlockSpravka-module-scss-module__SSw7nq__status_value {
  margin-top: 8px;
}

.BlockSpravka-module-scss-module__SSw7nq__status_sent {
  color: #7e95a8;
}

.BlockSpravka-module-scss-module__SSw7nq__status_inProgress {
  color: #7e95a8;
}

.BlockSpravka-module-scss-module__SSw7nq__status_ready {
  color: #7e95a8;
}

.BlockSpravka-module-scss-module__SSw7nq__button_section {
  display: contents;
  padding-bottom: 20px;
}

@media (width <= 1200px) {
  .BlockSpravka-module-scss-module__SSw7nq__button_section {
    justify-content: stretch;
  }

  .BlockSpravka-module-scss-module__SSw7nq__button_section button {
    width: 100%;
  }
}

/*# sourceMappingURL=src_components_UI_BlockSpravka_BlockSpravka_module_scss_module_b52d8e88.css.map*/