/* [project]/src/styles/MainPage/sidebar.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.sidebar-module-scss-module__ehM_Hq__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.sidebar-module-scss-module__ehM_Hq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.sidebar-module-scss-module__ehM_Hq__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.sidebar-module-scss-module__ehM_Hq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.sidebar-module-scss-module__ehM_Hq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.sidebar-module-scss-module__ehM_Hq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.sidebar-module-scss-module__ehM_Hq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.sidebar-module-scss-module__ehM_Hq__text, .sidebar-module-scss-module__ehM_Hq__container {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sidebar-module-scss-module__ehM_Hq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.sidebar-module-scss-module__ehM_Hq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.sidebar-module-scss-module__ehM_Hq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.sidebar-module-scss-module__ehM_Hq__button-14-medium, .sidebar-module-scss-module__ehM_Hq__menuItem {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.sidebar-module-scss-module__ehM_Hq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sidebar-module-scss-module__ehM_Hq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.sidebar-module-scss-module__ehM_Hq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.sidebar-module-scss-module__ehM_Hq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.sidebar-module-scss-module__ehM_Hq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sidebar-module-scss-module__ehM_Hq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.sidebar-module-scss-module__ehM_Hq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.sidebar-module-scss-module__ehM_Hq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.sidebar-module-scss-module__ehM_Hq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.sidebar-module-scss-module__ehM_Hq__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 282px;
  height: 100vh;
  background-color: #f9fbff;
  box-shadow: 0 2px 10px #91affc40;
  transition: width .3s;
  z-index: 100;
}

@media (width <= 1200px) {
  .sidebar-module-scss-module__ehM_Hq__container {
    display: none;
  }
}

.sidebar-module-scss-module__ehM_Hq__collapsed {
  width: 100px;
}

.sidebar-module-scss-module__ehM_Hq__collapsed .sidebar-module-scss-module__ehM_Hq__logo img {
  width: 40px;
  height: auto;
}

.sidebar-module-scss-module__ehM_Hq__collapsed .sidebar-module-scss-module__ehM_Hq__menuItem {
  justify-content: center;
  padding: 15px 10px;
  margin: 10px 20px;
}

.sidebar-module-scss-module__ehM_Hq__collapsed .sidebar-module-scss-module__ehM_Hq__menuItem .sidebar-module-scss-module__ehM_Hq__icon {
  margin-right: 0;
}

.sidebar-module-scss-module__ehM_Hq__logo {
  text-align: center;
  padding-top: 27px;
}

.sidebar-module-scss-module__ehM_Hq__logo img {
  transition: all .3s;
}

.sidebar-module-scss-module__ehM_Hq__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.sidebar-module-scss-module__ehM_Hq__menu::-webkit-scrollbar {
  width: 4px;
}

.sidebar-module-scss-module__ehM_Hq__menu::-webkit-scrollbar-track {
  background: none;
}

.sidebar-module-scss-module__ehM_Hq__menu::-webkit-scrollbar-thumb {
  background: #b3c3d2;
  border-radius: 2px;
}

.sidebar-module-scss-module__ehM_Hq__menu ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}

.sidebar-module-scss-module__ehM_Hq__menuItem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin: 10px 20px;
  border-radius: 16px;
  color: #152738;
  cursor: pointer;
  transition: all .3s;
}

.sidebar-module-scss-module__ehM_Hq__menuItem .sidebar-module-scss-module__ehM_Hq__icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
  filter: brightness(0) saturate() invert(19%) sepia(14%) saturate(1111%) hue-rotate(176deg) brightness(94%) contrast(88%);
  transition: all .3s;
}

.sidebar-module-scss-module__ehM_Hq__menuItem:hover, .sidebar-module-scss-module__ehM_Hq__menuItem.sidebar-module-scss-module__ehM_Hq__active {
  background-color: #d6e0ea;
  color: #196bdf;
}

.sidebar-module-scss-module__ehM_Hq__menuItem:hover .sidebar-module-scss-module__ehM_Hq__icon, .sidebar-module-scss-module__ehM_Hq__menuItem.sidebar-module-scss-module__ehM_Hq__active .sidebar-module-scss-module__ehM_Hq__icon {
  filter: brightness(0) saturate() invert(37%) sepia(74%) saturate(1045%) hue-rotate(199deg) brightness(91%) contrast(107%);
}

.sidebar-module-scss-module__ehM_Hq__menuItem:hover:not(.sidebar-module-scss-module__ehM_Hq__collapsed .sidebar-module-scss-module__ehM_Hq__menuItem) .sidebar-module-scss-module__ehM_Hq__icon {
  transform: translateX(-4px);
}

.sidebar-module-scss-module__ehM_Hq__arrowItem {
  color: #49667e;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: all .3s;
  gap: 16px;
  margin-top: auto;
}

.sidebar-module-scss-module__ehM_Hq__arrowItem .sidebar-module-scss-module__ehM_Hq__arrowIcon {
  transform: rotate(0);
  transition: transform .3s;
}

.sidebar-module-scss-module__ehM_Hq__arrowItem:hover:not(.sidebar-module-scss-module__ehM_Hq__collapsed .sidebar-module-scss-module__ehM_Hq__arrowItem) .sidebar-module-scss-module__ehM_Hq__arrowIcon {
  transform: rotate(0)translateX(-4px);
}

.sidebar-module-scss-module__ehM_Hq__rotated {
  transform: rotate(180deg) !important;
}

.sidebar-module-scss-module__ehM_Hq__content {
  display: none;
}

@media (width <= 1200px) {
  .sidebar-module-scss-module__ehM_Hq__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 10px;
    position: fixed;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #91affc40;
    z-index: 1000;
  }
}

.sidebar-module-scss-module__ehM_Hq__section {
  position: relative;
  width: 20%;
}

.sidebar-module-scss-module__ehM_Hq__menu__Items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.sidebar-module-scss-module__ehM_Hq__menu__Items span {
  text-align: center;
  font-size: 11px;
  line-height: 11px;
}

/*# sourceMappingURL=src_styles_MainPage_sidebar_module_scss_module_b52d8e88.css.map*/