/* [project]/src/components/UI/ButtonBack/ButtonBack.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.ButtonBack-module-scss-module__urkqYa__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.ButtonBack-module-scss-module__urkqYa__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.ButtonBack-module-scss-module__urkqYa__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.ButtonBack-module-scss-module__urkqYa__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.ButtonBack-module-scss-module__urkqYa__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.ButtonBack-module-scss-module__urkqYa__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__button-16-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__button {
  padding: 11px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #e1e8f0;
  color: #152738;
  transition: all .3s;
}

.ButtonBack-module-scss-module__urkqYa__button:hover {
  background-color: #d6e0ea;
  color: #152738;
}

.ButtonBack-module-scss-module__urkqYa__button:focus {
  outline: none;
  border: 2px solid #bfdff8;
  color: #152738;
  background-color: #e1e8f0;
}

.ButtonBack-module-scss-module__urkqYa__button:disabled {
  background-color: #ecf0f6;
  color: #c5d2de;
  cursor: not-allowed;
}


/* [project]/src/app/news/News.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.News-module-scss-module__Yf7agq__title-1, .News-module-scss-module__Yf7agq__portals__title h1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.News-module-scss-module__Yf7agq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.News-module-scss-module__Yf7agq__title-3, .News-module-scss-module__Yf7agq__description, .News-module-scss-module__Yf7agq__news__text {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.News-module-scss-module__Yf7agq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.News-module-scss-module__Yf7agq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.News-module-scss-module__Yf7agq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.News-module-scss-module__Yf7agq__head-1, .News-module-scss-module__Yf7agq__subtitle, .News-module-scss-module__Yf7agq__section__title {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.News-module-scss-module__Yf7agq__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.News-module-scss-module__Yf7agq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.News-module-scss-module__Yf7agq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.News-module-scss-module__Yf7agq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.News-module-scss-module__Yf7agq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.News-module-scss-module__Yf7agq__button-14-regular, .News-module-scss-module__Yf7agq__section__description, .News-module-scss-module__Yf7agq__section__date {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.News-module-scss-module__Yf7agq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.News-module-scss-module__Yf7agq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.News-module-scss-module__Yf7agq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.News-module-scss-module__Yf7agq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.News-module-scss-module__Yf7agq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.News-module-scss-module__Yf7agq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.News-module-scss-module__Yf7agq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.News-module-scss-module__Yf7agq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.News-module-scss-module__Yf7agq__content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__content {
    padding: 0;
    margin: 0;
  }
}

.News-module-scss-module__Yf7agq__news__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  overflow: hidden;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__news__content {
    flex-direction: column;
  }
}

.News-module-scss-module__Yf7agq__section {
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__section {
    width: 100%;
    padding: 5px;
  }
}

.News-module-scss-module__Yf7agq__portals__header {
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__portals__header {
    padding: 10px;
  }
}

.News-module-scss-module__Yf7agq__portals__title {
  display: flex;
  align-items: baseline;
}

.News-module-scss-module__Yf7agq__portals__title h1 {
  color: #041221;
}

.News-module-scss-module__Yf7agq__newBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #fff;
  max-height: 530px;
  border-radius: 26px;
  box-sizing: border-box;
  overflow: hidden;
}

.News-module-scss-module__Yf7agq__Image {
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 26px;
}

.News-module-scss-module__Yf7agq__section__date {
  color: #385167;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__section__date {
    padding: 20px;
  }
}

.News-module-scss-module__Yf7agq__section__title {
  padding-top: 10px;
  color: #041221;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__section__title {
    padding: 20px;
  }
}

.News-module-scss-module__Yf7agq__section__description {
  color: #152738;
  padding-top: 20px;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__section__description {
    padding: 20px;
  }
}

.News-module-scss-module__Yf7agq__new__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__new__content {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.News-module-scss-module__Yf7agq__subtitle {
  padding-top: 50px;
}

.News-module-scss-module__Yf7agq__new__image {
  width: 100%;
  height: 300px;
  border-radius: 26px;
  overflow: hidden;
}

.News-module-scss-module__Yf7agq__news__text {
  font-size: 16px;
}

.News-module-scss-module__Yf7agq__description {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__background__section {
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 0 2px 10px #91affc40;
  }
}

.News-module-scss-module__Yf7agq__section__date {
  padding-top: 20px;
}

@media (width <= 1200px) {
  .News-module-scss-module__Yf7agq__section__date {
    padding: 0;
  }
}


/*# sourceMappingURL=src_a077f9db._.css.map*/
