/* [project]/src/components/UI/ButtonBack/ButtonBack.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.ButtonBack-module-scss-module__urkqYa__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.ButtonBack-module-scss-module__urkqYa__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.ButtonBack-module-scss-module__urkqYa__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.ButtonBack-module-scss-module__urkqYa__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.ButtonBack-module-scss-module__urkqYa__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.ButtonBack-module-scss-module__urkqYa__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.ButtonBack-module-scss-module__urkqYa__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__button-16-medium, .ButtonBack-module-scss-module__urkqYa__button {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.ButtonBack-module-scss-module__urkqYa__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.ButtonBack-module-scss-module__urkqYa__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.ButtonBack-module-scss-module__urkqYa__button {
  padding: 11px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #e1e8f0;
  color: #152738;
  transition: all .3s;
}

.ButtonBack-module-scss-module__urkqYa__button:hover {
  background-color: #d6e0ea;
  color: #152738;
}

.ButtonBack-module-scss-module__urkqYa__button:focus {
  outline: none;
  border: 2px solid #bfdff8;
  color: #152738;
  background-color: #e1e8f0;
}

.ButtonBack-module-scss-module__urkqYa__button:disabled {
  background-color: #ecf0f6;
  color: #c5d2de;
  cursor: not-allowed;
}


/* [project]/src/app/portals/portals.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.portals-module-scss-module__weMfoG__title-1, .portals-module-scss-module__weMfoG__portals__title h1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.portals-module-scss-module__weMfoG__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.portals-module-scss-module__weMfoG__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.portals-module-scss-module__weMfoG__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.portals-module-scss-module__weMfoG__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.portals-module-scss-module__weMfoG__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.portals-module-scss-module__weMfoG__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.portals-module-scss-module__weMfoG__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.portals-module-scss-module__weMfoG__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.portals-module-scss-module__weMfoG__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.portals-module-scss-module__weMfoG__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.portals-module-scss-module__weMfoG__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.portals-module-scss-module__weMfoG__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.portals-module-scss-module__weMfoG__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.portals-module-scss-module__weMfoG__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.portals-module-scss-module__weMfoG__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.portals-module-scss-module__weMfoG__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.portals-module-scss-module__weMfoG__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.portals-module-scss-module__weMfoG__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.portals-module-scss-module__weMfoG__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.portals-module-scss-module__weMfoG__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.portals-module-scss-module__weMfoG__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}

@media (width <= 1200px) {
  .portals-module-scss-module__weMfoG__content {
    padding: 5px;
  }
}

.portals-module-scss-module__weMfoG__portals__header {
  display: flex;
  flex-direction: column;
}

@media (width <= 1200px) {
  .portals-module-scss-module__weMfoG__portals__header {
    padding: 10px;
  }
}

.portals-module-scss-module__weMfoG__portals__title {
  display: flex;
  align-items: baseline;
}

.portals-module-scss-module__weMfoG__portals__title h1 {
  color: #041221;
}

.portals-module-scss-module__weMfoG__portals__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 10px;
  box-sizing: border-box;
}

@media (width <= 1200px) {
  .portals-module-scss-module__weMfoG__portals__content {
    width: 100%;
  }
}

.portals-module-scss-module__weMfoG__block {
  flex-basis: calc(50% - 10px);
  cursor: pointer;
}

@media (width <= 1200px) {
  .portals-module-scss-module__weMfoG__block {
    width: 100%;
    flex-basis: auto;
  }
}

.portals-module-scss-module__weMfoG__block__footer {
  margin-top: 15px;
  width: 100%;
}


/* [project]/src/components/UI/BlockPortals/BlockPortals.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.BlockPortals-module-scss-module__oWwIjW__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.BlockPortals-module-scss-module__oWwIjW__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.BlockPortals-module-scss-module__oWwIjW__title-3, .BlockPortals-module-scss-module__oWwIjW__header {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPortals-module-scss-module__oWwIjW__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPortals-module-scss-module__oWwIjW__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPortals-module-scss-module__oWwIjW__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.BlockPortals-module-scss-module__oWwIjW__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.BlockPortals-module-scss-module__oWwIjW__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.BlockPortals-module-scss-module__oWwIjW__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.BlockPortals-module-scss-module__oWwIjW__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.BlockPortals-module-scss-module__oWwIjW__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.BlockPortals-module-scss-module__oWwIjW__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.BlockPortals-module-scss-module__oWwIjW__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockPortals-module-scss-module__oWwIjW__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockPortals-module-scss-module__oWwIjW__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.BlockPortals-module-scss-module__oWwIjW__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.BlockPortals-module-scss-module__oWwIjW__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.BlockPortals-module-scss-module__oWwIjW__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.BlockPortals-module-scss-module__oWwIjW__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.BlockPortals-module-scss-module__oWwIjW__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPortals-module-scss-module__oWwIjW__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.BlockPortals-module-scss-module__oWwIjW__section {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: #fff;
  border-radius: 26px;
  justify-content: space-between;
  min-height: 160px;
  cursor: pointer;
  box-shadow: 0 2px 10px #91affc40;
}

.BlockPortals-module-scss-module__oWwIjW__section:hover {
  background-color: #e1f2ff;
}

.BlockPortals-module-scss-module__oWwIjW__section_disabled {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: none;
  border-radius: 26px;
  justify-content: space-between;
  min-height: 160px;
  border: 1px dashed #7e95a8;
}

.BlockPortals-module-scss-module__oWwIjW__header {
  padding-top: 30px;
  padding-left: 30px;
  color: #152738;
}

.BlockPortals-module-scss-module__oWwIjW__icon {
  display: flex;
  align-items: center;
  padding-right: 30px;
}


/*# sourceMappingURL=src_74f75fa7._.css.map*/
