/* [project]/src/styles/MainPage/main.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.main-module-scss-module__AcsG-q__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.main-module-scss-module__AcsG-q__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.main-module-scss-module__AcsG-q__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.main-module-scss-module__AcsG-q__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.main-module-scss-module__AcsG-q__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.main-module-scss-module__AcsG-q__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.main-module-scss-module__AcsG-q__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.main-module-scss-module__AcsG-q__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.main-module-scss-module__AcsG-q__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.main-module-scss-module__AcsG-q__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.main-module-scss-module__AcsG-q__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.main-module-scss-module__AcsG-q__button-14-medium, .main-module-scss-module__AcsG-q__mobileText {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.main-module-scss-module__AcsG-q__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.main-module-scss-module__AcsG-q__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.main-module-scss-module__AcsG-q__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.main-module-scss-module__AcsG-q__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.main-module-scss-module__AcsG-q__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.main-module-scss-module__AcsG-q__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.main-module-scss-module__AcsG-q__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.main-module-scss-module__AcsG-q__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.main-module-scss-module__AcsG-q__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.main-module-scss-module__AcsG-q__layout {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.main-module-scss-module__AcsG-q__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f6;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: 282px;
  align-items: center;
  transition: margin-left .3s;
}

@media (width <= 1200px) {
  .main-module-scss-module__AcsG-q__content {
    min-width: 100%;
    min-height: 200px;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0;
  }
}

.main-module-scss-module__AcsG-q__content.main-module-scss-module__AcsG-q__sidebarCollapsed {
  margin-left: 100px;
}

.main-module-scss-module__AcsG-q__navigation {
  max-width: 100%;
  width: 1200px;
  padding-top: 24px;
  background-color: #0000;
  box-sizing: border-box;
}

@media (width <= 1200px) {
  .main-module-scss-module__AcsG-q__navigation {
    display: none;
  }
}

.main-module-scss-module__AcsG-q__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-module-scss-module__AcsG-q__main {
  flex: 1;
  padding: 24px;
  margin-bottom: 80px;
  max-width: 100%;
  width: 1200px;
}

@media (width <= 1200px) {
  .main-module-scss-module__AcsG-q__main {
    padding: 0;
  }
}

.main-module-scss-module__AcsG-q__mobileHeader {
  display: none;
}

@media (width <= 1200px) {
  .main-module-scss-module__AcsG-q__mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
  }
}

.main-module-scss-module__AcsG-q__mobileProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-module-scss-module__AcsG-q__mobileText {
  padding-right: 5px;
}

.main-module-scss-module__AcsG-q__footer {
  background: linear-gradient(0deg, #d5e4f5 0%, #ecf0f6 100%);
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}

@media (width <= 1200px) {
  .main-module-scss-module__AcsG-q__footer {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=src_styles_MainPage_main_module_scss_module_b52d8e88.css.map*/