/* [project]/src/components/UI/ButtonSecond/Button.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.Button-module-scss-module__mzsPdG__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.Button-module-scss-module__mzsPdG__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.Button-module-scss-module__mzsPdG__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__mzsPdG__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__mzsPdG__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__mzsPdG__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.Button-module-scss-module__mzsPdG__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.Button-module-scss-module__mzsPdG__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Button-module-scss-module__mzsPdG__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.Button-module-scss-module__mzsPdG__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.Button-module-scss-module__mzsPdG__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.Button-module-scss-module__mzsPdG__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.Button-module-scss-module__mzsPdG__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Button-module-scss-module__mzsPdG__button-13-medium, .Button-module-scss-module__mzsPdG__button {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.Button-module-scss-module__mzsPdG__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.Button-module-scss-module__mzsPdG__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__mzsPdG__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Button-module-scss-module__mzsPdG__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Button-module-scss-module__mzsPdG__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.Button-module-scss-module__mzsPdG__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__mzsPdG__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__mzsPdG__button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff6;
  color: #196bdf;
  transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 32px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button-module-scss-module__mzsPdG__button .Button-module-scss-module__mzsPdG__arrow {
  transition: transform .3s cubic-bezier(.4, 0, .2, 1);
  filter: brightness(0) saturate() invert(37%) sepia(74%) saturate(1045%) hue-rotate(199deg) brightness(91%) contrast(107%);
  flex-shrink: 0;
}

.Button-module-scss-module__mzsPdG__button:hover {
  background-color: #fff;
  color: #196bdf;
}

.Button-module-scss-module__mzsPdG__button:hover .Button-module-scss-module__mzsPdG__arrow {
  transform: translateX(4px);
}

.Button-module-scss-module__mzsPdG__button:focus {
  outline: none;
  border: 2px solid #88b8f0;
  color: #196bdf;
  background-color: #fff6;
}

.Button-module-scss-module__mzsPdG__button:disabled {
  background-color: #fff;
  color: #b3c3d2;
  cursor: not-allowed;
}

.Button-module-scss-module__mzsPdG__button:disabled .Button-module-scss-module__mzsPdG__arrow {
  filter: opacity(.5);
}

.Button-module-scss-module__mzsPdG__disabled {
  opacity: .5;
  cursor: not-allowed;
}

/*# sourceMappingURL=src_components_UI_ButtonSecond_Button_module_scss_module_b52d8e88.css.map*/