/* [project]/src/components/UI/YandexMap/Map.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.Map-module-scss-module__4AJn8a__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.Map-module-scss-module__4AJn8a__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.Map-module-scss-module__4AJn8a__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.Map-module-scss-module__4AJn8a__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Map-module-scss-module__4AJn8a__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.Map-module-scss-module__4AJn8a__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.Map-module-scss-module__4AJn8a__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.Map-module-scss-module__4AJn8a__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.Map-module-scss-module__4AJn8a__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.Map-module-scss-module__4AJn8a__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Map-module-scss-module__4AJn8a__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Map-module-scss-module__4AJn8a__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.Map-module-scss-module__4AJn8a__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Map-module-scss-module__4AJn8a__map__section {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: 570px;
  height: 540px;
}

@media (width <= 1200px) {
  .Map-module-scss-module__4AJn8a__map__section {
    max-width: 100%;
    max-height: 336px;
  }
}

.Map-module-scss-module__4AJn8a__map__content {
  opacity: 0;
  animation: .5s ease-in-out forwards Map-module-scss-module__4AJn8a__fadeIn;
}

@keyframes Map-module-scss-module__4AJn8a__fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=src_components_UI_YandexMap_Map_module_scss_module_b52d8e88.css.map*/