/* [project]/src/components/UI/Button/Button.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.Button-module-scss-module__yP-Rqa__title-1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.Button-module-scss-module__yP-Rqa__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.Button-module-scss-module__yP-Rqa__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__yP-Rqa__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__yP-Rqa__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__yP-Rqa__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.Button-module-scss-module__yP-Rqa__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.Button-module-scss-module__yP-Rqa__text, .Button-module-scss-module__yP-Rqa__button {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Button-module-scss-module__yP-Rqa__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.Button-module-scss-module__yP-Rqa__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.Button-module-scss-module__yP-Rqa__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.Button-module-scss-module__yP-Rqa__button-14-medium, .Button-module-scss-module__yP-Rqa__button {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.Button-module-scss-module__yP-Rqa__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Button-module-scss-module__yP-Rqa__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.Button-module-scss-module__yP-Rqa__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.Button-module-scss-module__yP-Rqa__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.Button-module-scss-module__yP-Rqa__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.Button-module-scss-module__yP-Rqa__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Button-module-scss-module__yP-Rqa__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.Button-module-scss-module__yP-Rqa__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__yP-Rqa__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.Button-module-scss-module__yP-Rqa__button {
  padding: 14px 24px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #ed5c2f;
  transition: all .3s;
  max-width: 100%;
}

.Button-module-scss-module__yP-Rqa__button:hover {
  background-color: #ed5c2f;
  color: #fff;
}

.Button-module-scss-module__yP-Rqa__button:focus {
  outline: none;
  border: 2px solid #ed5c2f;
  color: #ed5c2f;
  background-color: #fff;
}

.Button-module-scss-module__yP-Rqa__button:disabled {
  background-color: #fff;
  color: #b3c3d2;
  cursor: not-allowed;
}

/*# sourceMappingURL=src_components_UI_Button_Button_module_scss_module_b52d8e88.css.map*/