/* [project]/src/app/zakaz_spravki/zakaz_spravki.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.zakaz_spravki-module-scss-module__f6duDq__title-1, .zakaz_spravki-module-scss-module__f6duDq__spravka__title h1 {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.zakaz_spravki-module-scss-module__f6duDq__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.zakaz_spravki-module-scss-module__f6duDq__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.zakaz_spravki-module-scss-module__f6duDq__title-4 {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.zakaz_spravki-module-scss-module__f6duDq__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.zakaz_spravki-module-scss-module__f6duDq__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.zakaz_spravki-module-scss-module__f6duDq__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.zakaz_spravki-module-scss-module__f6duDq__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.zakaz_spravki-module-scss-module__f6duDq__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.zakaz_spravki-module-scss-module__f6duDq__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.zakaz_spravki-module-scss-module__f6duDq__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.zakaz_spravki-module-scss-module__f6duDq__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.zakaz_spravki-module-scss-module__f6duDq__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.zakaz_spravki-module-scss-module__f6duDq__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.zakaz_spravki-module-scss-module__f6duDq__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.zakaz_spravki-module-scss-module__f6duDq__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.zakaz_spravki-module-scss-module__f6duDq__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.zakaz_spravki-module-scss-module__f6duDq__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.zakaz_spravki-module-scss-module__f6duDq__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.zakaz_spravki-module-scss-module__f6duDq__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.zakaz_spravki-module-scss-module__f6duDq__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.zakaz_spravki-module-scss-module__f6duDq__content {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

@media (width <= 1200px) {
  .zakaz_spravki-module-scss-module__f6duDq__content {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
}

.zakaz_spravki-module-scss-module__f6duDq__spravka__header {
  display: flex;
  flex-direction: column;
}

.zakaz_spravki-module-scss-module__f6duDq__spravka__title {
  display: flex;
  align-items: baseline;
}

.zakaz_spravki-module-scss-module__f6duDq__spravka__title h1 {
  color: #041221;
}

.zakaz_spravki-module-scss-module__f6duDq__spravka__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
}

@media (width <= 1200px) {
  .zakaz_spravki-module-scss-module__f6duDq__spravka__content {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=src_app_zakaz_spravki_zakaz_spravki_module_scss_module_b52d8e88.css.map*/