/* [project]/src/components/UI/BlockExpenses/expenses.module.scss.module.css [app-client] (css) */
@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GolosText;
  src: url("/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.expenses-module-scss-module__YEJDnG__title-1, .expenses-module-scss-module__YEJDnG__expenses_sum {
  font-family: GolosText, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.expenses-module-scss-module__YEJDnG__title-2 {
  font-family: GolosText, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.expenses-module-scss-module__YEJDnG__title-3 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.expenses-module-scss-module__YEJDnG__title-4, .expenses-module-scss-module__YEJDnG__expenses_title {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.expenses-module-scss-module__YEJDnG__title-5 {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.expenses-module-scss-module__YEJDnG__title-6 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
}

.expenses-module-scss-module__YEJDnG__head-1 {
  font-family: GolosText, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.expenses-module-scss-module__YEJDnG__text {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.expenses-module-scss-module__YEJDnG__text-2 {
  font-family: GolosText, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29x;
}

.expenses-module-scss-module__YEJDnG__description-13-regular {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.expenses-module-scss-module__YEJDnG__description-11-medium {
  font-family: GolosText, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.2px;
}

.expenses-module-scss-module__YEJDnG__button-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.expenses-module-scss-module__YEJDnG__button-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.expenses-module-scss-module__YEJDnG__button-13-medium {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.expenses-module-scss-module__YEJDnG__button-16-medium {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.6px;
}

.expenses-module-scss-module__YEJDnG__plates-14-medium {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.expenses-module-scss-module__YEJDnG__plates-14-regular {
  font-family: GolosText, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.expenses-module-scss-module__YEJDnG__pagination-16-regular {
  font-family: GolosText, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.expenses-module-scss-module__YEJDnG__download-footer-13 {
  font-family: GolosText, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

.expenses-module-scss-module__YEJDnG__table-header-18 {
  font-family: GolosText, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.expenses-module-scss-module__YEJDnG__table-header-20 {
  font-family: GolosText, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.expenses-module-scss-module__YEJDnG__expenses {
  width: 50%;
  min-height: 200px;
  background-color: #ecf0f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: space-between;
  cursor: pointer;
}

.expenses-module-scss-module__YEJDnG__expenses:hover {
  background-color: #e1f2ff;
}

.expenses-module-scss-module__YEJDnG__expenses:focus {
  border: 3px solid #88b8f0;
}

@media (width <= 1200px) {
  .expenses-module-scss-module__YEJDnG__expenses {
    margin-left: 20px;
    justify-content: normal;
    min-height: 140px;
  }
}

.expenses-module-scss-module__YEJDnG__expenses_title {
  color: #053b74;
  padding-top: 15px;
}

@media (width <= 1200px) {
  .expenses-module-scss-module__YEJDnG__expenses_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

.expenses-module-scss-module__YEJDnG__expenses_sum {
  color: #152738;
  padding-bottom: 15px;
}

@media (width <= 1200px) {
  .expenses-module-scss-module__YEJDnG__expenses_sum {
    font-size: 35px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 50px;
  }
}

/*# sourceMappingURL=src_components_UI_BlockExpenses_expenses_module_scss_module_b52d8e88.css.map*/