@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    @media (max-width: 1200px) {
        padding: 0;
        margin: 0;
    }
}

.news__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.section {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    

    @media (max-width: 1200px) {
        padding: 5px;
    }
}

.portals__header {
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
        padding: 10px;
    }
}

.portals__title {
    display: flex;
    align-items: baseline;

    h1 {
        @extend .title-1;
        color: $Misty-1000;
    }
}

.newBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 26px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    box-shadow: $Lift-300;

    &:hover {
        transform: translateY(-5px);
    }
}

.Image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 26px;

}

.content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section__date {
    @extend .button-14-regular;
    color: $Misty-700;

    @media (max-width: 1200px) {
            padding: 20px;
        }
}

.section__title {
    @extend .head-1;
    padding-top: 10px;
    color: #041221;

    @media (max-width: 1200px) {
            padding: 20px;
        }
}

.section__description {
    @extend .button-14-regular;
    color: $Misty-900;
    padding-top: 20px;

    @media (max-width: 1200px) {
            padding: 20px;
        }
}

/*Одна новость*/

.new__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    
    @media (max-width: 1200px) {
        max-width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

.subtitle {
    padding-top: 50px;
    @extend .head-1;
}

.new__image {
    width: 100%;
    height: 300px;
    border-radius: 26px;
    overflow: hidden;
}

.news__text {
    @extend .title-3;
    font-size: 16px;
}

.description {
    @extend .title-3;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.background__section {
    @media (max-width: 1200px) {
        background-color: white;
        border-radius: 26px;
        box-shadow: $Lift-300;
    }
}

.section__date {
    padding-top: 20px;

    @media (max-width:1200) {
        padding: 0;
    }
}
