@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';


.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    

    @media (max-width: 1200px) {
        max-width: 100%;
        padding: 5px;

    }

}

.header {
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
         
            padding: 10px;
    
        }

}

.title {
    display: flex;
    align-items: baseline;

    h1 {
        @extend .title-1;
        color: $Misty-1000;
    }
}

.predlozheniya__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 26px;
    padding: 30px 30px;
    margin-top: 30px;
    box-shadow: $Lift-300;

}

.predlozheniya__header {
   p {
        @extend .head-1;
        color: $Misty-900;
   }
}

.predlozheniya__description {
    p {
        color: $Misty-900;
        @extend .pagination-16-regular;
    }
}

.portals__content {

    gap: 15px;
    padding-top: 10px;
    }

.block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
    

    @media (max-width: 1200px) {
        flex-direction: column;
        max-width: 100%;
    }
}

