@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';




.infoBlock__table {
    padding-top: 30px;

    tr {
        @media (max-width: 1200px) {
            padding-bottom: 10px;
        }
    }

    th {
        @extend .table-header-18;
        color: $Misty-900;
        text-align: left;
        padding-bottom: 20px;
        padding-right: 100px;

        @media (max-width: 1200px) {
            width: 100%;
            padding: 0;
            font-size: 14px;
            line-height: 16px;
        }
    }

    td {
        @extend .pagination-16-regular;
        color: $Misty-700;
        text-align: left;

        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 20px;
        }
    }

}