@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.button {
	padding: 14px 24px 14px 24px;
    max-width: 100%;
	@extend .button-14-medium;
	border: 2px solid $Blue-500;
	border-radius: 16px;
	cursor: pointer;
	background-color: $Blue-500;
	color: white;
	transition: all 0.3s ease;
	@extend .text;
	box-sizing: border-box;
}

.button:hover {
	background-color: $Blue-600;
	color: white;
}

.button:focus {

	border: 2px solid $Blue-300;
    
}

.button:disabled {
	background-color: $Misty-200;
	border: 2px solid $Misty-200;
	color: white;
	cursor: not-allowed;
}
